<div class="contact_info">
  <title>Contact Us</title>
  <h1>Contact Information</h1>
  <p>
    <table border="1">
      <tr>
        <th class="feature1">Type</th>
        <th class="feature2">Info</th>
      </tr>
      <tr>
        <td class="feature1">Email</td>
        <td class="feature2">vernier.13&commat;.edu</td>
      </tr>
      <tr>
        <td class="feature1">Phone</td>
        <td class="feature2">N/A</td>
      </tr>
      <tr>
        <td class="feature1">Headquarter</td>
        <td class="feature2">Caldwell Lab 177</td>
      </tr>
      <tr>
        <td class="feature1">Address</td>
        <td class="feature2">2024 Neil Ave, Columbus, OH 43210</td>
      </tr>
      <tr>
        <td class="feature1">Work Time</td>
        <td class="feature2">Tues/Thurs, 4:00 -- 5:20 p.m.</td>
      </tr>
    </table>
</div>
<br>