<div>
  <h1>How It Works </h1>
  <p>Utilizing Elasticsearch and TMDB, we're engineering a search tool that finds movies by matching user 
    input to movie reviews and comments rather than name or description. This allows users to connect with 
    movies in a way that reflects other movie-watchers experiences rather than an idealized synopsis. With 
    our tool we hope to help users find new movies they truly connect with.</p>
  <h2>Tools We're Using</h2>
  <p>-Elasticsearch</p>
  <p>-TMDB</p>
  <p>-Angular</p>
  <p>-Django</p>
  
</div>