<div class="about_us">
  <title>About Us</title>
  <h1 style="text-align: center;">Meet our Team!</h1>
  <p style="margin-top: 20px; margin-bottom: 20px;">ReviewDB was created by a team student from Ohio State University in 2024 for the CSE5914 Capstone course. 
    Our team members include Kevyn Angueirairizarry, Kush Dalal, Nicolas Landis-Ashbaugh, Zhao Liu, Lang Min, and Ardon Wu.
    As movie fans ourselves, we're aiming to create a tool that's helpful and easy to use for everyone. 
  </p>

  <div class="memberCard">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="image-container-Kevyn"></div>
          <div class="card-body">
            <h5 class="card-title">Kevyn Angueira Irizarry</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="image-container-Kush"></div>
          <div class="card-body">
            <h5 class="card-title">Kush Dalal</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="image-container-Nick"></div>
          <div class="card-body">
            <h5 class="card-title">Nicolas Landis-Ashbaugh</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="image-container-Zhao"></div>
          <div class="card-body">
            <h5 class="card-title">Zhao Liu</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="image-container-Lang"></div>
          <div class="card-body">
            <h5 class="card-title">Lang Min</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="image-container-Ardon"></div>
          <div class="card-body">
            <h5 class="card-title">Ardon Wu</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<br>
