<div class="about_us">
  <title>About Us</title>
  <h1>Meet our Team!</h1>
  <p>ReviewDB was created by a team student from Ohio State University in 2024 for the CSE5914 Capstone course. 
    Our team members include Kevyn Angueirairizarry, Kush Dalal, Nicolas Landis-Ashbaugh, Zhao Liu, Lang Min, and Ardon Wu.
    As movie fans ourselves, we're aiming to create a tool that's helpful and easy to use for everyone. 
  </p>
  <!-- <div class="members">
  <h3>Kevyn Angueirairizarry</h3>
  <p>About ^</p>
  <h3>Kush Dalal</h3>
  <p>About ^</p>
  <h3>Nicolas Landis-Ashbaugh</h3>
  <p>About ^</p>
  <h3>Zhao Liu</h3>
  <p>About ^</p>
  <h3>Lang Min</h3>
  <p>About ^</p>
  <h3>Ardon Wu</h3>
  <p>About ^</p>
  </div> -->
  <div class="memberCard">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="image1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kevyn Angueirairizarry</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="image2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kush Dalal</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="image3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nicolas Landis-Ashbaugh</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="image4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Zhao Liu</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="image5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lang Min</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="image6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ardon Wu</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<br>
