<div class="backgroundImage">
  <div class="exampleSearch">
    <div class="main-title">
      <h1 style="text-align: center; color: whitesmoke;">Example Searches</h1>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div *ngFor="let movie of movieList.slice(0,4)" class="col-md">
          <div class="card">
            <img class="card-img-top" src={{movie.posterPath}} alt="Movie Poster">
            <div class="card-body">
              <div class="d-flex align-items-center" style="margin-bottom: 5px">
                <div *ngIf="!movie.forAdults" style="margin-bottom: -40px">
                  <app-for-kids-icon></app-for-kids-icon>
                </div>
                <app-movie-score-field [score]="movie.score"></app-movie-score-field>
              </div>
              <h5 class="card-title">{{ movie.title }} ({{ movie.releaseYear }})</h5>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div *ngFor="let movie of movieList" class="col-md-3 mb-4">
          <div class="card movie-card">
            <img class="card-img-top" [src]="movie.posterPath" alt="Movie Poster">
            <div class="card-body">
              <div class="d-flex align-items-center" style="margin-bottom: 5px">
                <app-movie-score-field [score]="movie.score"></app-movie-score-field>
                <div style="margin-left: 10px; margin-bottom: -40px;" title="The rating for the movie!">
                  <p style="display: inline-block; margin-left: 5px;">{{ movie.voteAverageRounded }}/10</p>
                </div>
                <div *ngIf="!movie.forAdults" style="margin-bottom: -40px">
                  <app-for-kids-icon></app-for-kids-icon>
                </div>
              </div>
              <h5 class="card-title">{{ movie.title }} ({{ movie.releaseYear }})</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
