<div class="backgroundImage">
  <div>
    <h1>Example Searches</h1>
    <div class="container">
      <div class="row">
        <div *ngFor="let movie of movieList" class="col-md-3 mb-4">
          <div class="card">
            <img class="card-img-top" src={{movie.posterPath}} alt="Movie Poster">
            <div class="card-body">
              <div class="d-flex align-items-center" style="margin-bottom: 5px">
                <div *ngIf="!movie.forAdults" style="margin-bottom: -40px">
                  <app-for-kids-icon></app-for-kids-icon>
                </div>
                <app-movie-score-field [score]="movie.score"></app-movie-score-field>
              </div>
              <h5 class="card-title">{{ movie.title }} ({{ movie.releaseYear }})</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
