<div class="instruction">
  <h1>How It Works </h1>
  <p>Utilizing Elasticsearch and TMDB, we're engineering a search tool that finds movies by matching user 
    input to movie reviews and comments rather than name or description. This allows users to connect with 
    movies in a way that reflects other movie-watchers experiences rather than an idealized synopsis. With 
    our tool we hope to help users find new movies they truly connect with.</p>
  <div class="details">
    <h3>The Process</h3>
    <p>We enter your inquery into our Elasticsearch which accesses TMDB's data, which is updated daily 8:00 AM UTC. 
      The results are analyzed and results with over an 80% match are presented to you. To connect the back end 
      (the search and analysis) to the front end (this website) we are using the tool Django. Our front end is run in Angular.</p>
  <h3>Tools used in this project</h3>
  <ol>
		<li><a href="https://www.elastic.co/elasticsearch" target="blank">Elasticsearch</a></li>
    <li><a href="https://www.docker.com/" target="blank">Docker</a></li>
		<li><a href="https://www.themoviedb.org/?language=en-US" target="blank">TMDB</a></li>
    <li><a href="https://angular.io/" target="blank">Angular</a></li>
    <li><a href="https://www.djangoproject.com/" target="blank">Django</a></li>
	</ol>
  </div>
</div>
<br>
