<div class="header-container">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Review DB</h1>
      </div>
      <div class="col-2">
        <a href="/home" class="btn">
          <app-home-icon></app-home-icon>
          Home
        </a>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn">
            <app-tools-icon></app-tools-icon>
            Tech
          </button>
          <div class="dropdown-content">
            <a href="/example-searches">
              <app-search-icon></app-search-icon>
              Example Searches
            </a>
            <a href="/how-it-works">
              <app-question-icon></app-question-icon>
              How It Works
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn">
            <app-team-icon></app-team-icon>
            Team
          </button>
          <div class="dropdown-content">
            <a href="/about-us">
              <app-info-icon></app-info-icon>
              About Us
            </a>
            <a href="/contact-us">
              <app-mail-icon></app-mail-icon>
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

