/* Background color */
.header-container {
  background-color: #333344;
  height: 80px;
  display:grid;
  grid-template-columns: 400 400 400 400 400;
}

/* Title color */
h1 {
  color: white;
  padding-top: 15px;
}

/* Dropdown Button */
.dropbtn, .btn {
  background-color: #333344;
  color: white;
  padding: 28px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333344;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.logo{
  min-height: 80px;
  background-image: url('../../../../../../ReviewDB/picture/ReviewDBLogo.png');
  background-repeat: no-repeat;
  background-size: 80px 80px;
}

.dropdown-content a:hover {text-decoration: underline;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #333344;}

.btn:hover {color: white; text-decoration: underline;}
