<div class="header-container">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <div class="logo"></div>
      </div>
      <div class="col-5">
        <h1>Review DB</h1>
      </div>
      <div class="col-2">
        <a href="/home" class="btn">
          <app-home-icon></app-home-icon>
          Home
        </a>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn">
            <app-tools-icon></app-tools-icon>
            Tech
          </button>
          <div class="dropdown-content">
            <a href="/example-searches">
              <app-search-icon></app-search-icon>
              Example Searches
            </a>
            <a href="/how-it-works">
              <app-question-icon></app-question-icon>
              How It Works
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn">
            <app-team-icon></app-team-icon>
            Team
          </button>
          <div class="dropdown-content">
            <a href="/about-us">
              <app-info-icon></app-info-icon>
              About Us
            </a>
            <a href="/contact-us">
              <app-mail-icon></app-mail-icon>
              Contact Us
            </a>
            <a href="/project-links">
              <!-- <app-case-icon></app-case-icon> --> <!-- I tried ng generate component but did not work well -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5"/>
                <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85z"/>
              </svg>
              Project Links
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

