.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 5px solid gold;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
  border-radius: 10px;
}

.content {
  display: flex;
}

.poster-padding {
  margin-right: 20px;
}

.poster-container {
  margin-right: 20px;
}

.genres {
  margin-bottom: 10px;
}

.genre {
  display: inline-block;
  color: #000;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
}
