<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>ReviewDB</title>
</head>
<body>

<footer class="bg-dark text-light text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/home" class="text-light">Home</a>
            </div>
            <div class="col">
                <span class="text-muted">|</span>
            </div>
            <div class="col">
                <a href="/about-us" class="text-light">About Us</a>
            </div>
            <div class="col">
                <span class="text-muted">|</span>
            </div>
            <div class="col">
                <a href="/contact-us" class="text-light">Contact Us</a>
            </div>
            <div class="col">
                <span class="text-muted">|</span>
            </div>
            <div class="col">
                <a href="/example-searches" class="text-light">Example Searches</a>
            </div>
            <div class="col">
                <span class="text-muted">|</span>
            </div>
            <div class="col">
                <a href="/how-it-works" class="text-light">How It Works</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
