<div>
  <title>About Us</title>
  <h1>Meet our Team!</h1>
  <p>ReviewDB was created by a team student from Ohio State University in 2024 for the CSE5914 Capstone course. 
    Our team members include Kevyn Angueirairizarry, Kush Dalal, Nicolas Landis-Ashbaugh, Zhao Liu, Lang Min, and Ardon Wu.
    As movie fans ourselves, we're aiming to create a tool that's helpful and easy to use for everyone. 
  </p>
  <h3>Kevyn Angueirairizarry</h3>
  <p>About ^</p>
  <h3>Kush Dalal</h3>
  <p>About ^</p>
  <h3>Nicolas Landis-Ashbaugh</h3>
  <p>About ^</p>
  <h3>Zhao Liu</h3>
  <p>About ^</p>
  <h3>Lang Min</h3>
  <p>About ^</p>
  <h3>Ardon Wu</h3>
  <p>About ^</p>
</div>