<div class="header-container">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Review DB</h1>
      </div>
      <div class="col-2">
        <a href="/home" class="btn">Home</a>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn">Tech</button>
          <div class="dropdown-content">
            <a href="/example-searches">Example Searches</a>
            <a href="/how-it-works">How It Works</a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn">ReviewDB</button>
          <div class="dropdown-content">
            <a href="/about-us">About Us</a>
            <a href="/contact-us">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

