body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div {
    flex: 1;
    overflow-y: auto;
}

app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}