<div class="project_links">
  <title>Project Links</title>
  <h1>These are all of the documents important to the developers of ReviewDB</h1>
  <div class="members">
  <h3>Trello</h3>
  <a href="https://trello.com/b/lIRmkrlg/reviewdb">Trello</a>
  <h3>Slide Set 1</h3>
  <a href="https://docs.google.com/presentation/d/1B_M_BIVST-E-f7vh8CHbg-Mifq_xvjJQFsgzIHcgvFo/edit?usp=sharing">Slide Set 1</a>
  <h3>Slide Set 2</h3>
  <a href="https://docs.google.com/presentation/d/1d0sDiXct_qjpYvPe6JmUro3MeiQ0ZVEh6g0mFjIFS0A/edit?usp=sharing">Slide Set 2</a>
  <h3>Discord</h3>
  <a href="https://discord.com/channels/1196933575820447836/1196933576873222186">Discord</a>
  </div>
</div>
<br>