<div class="project_links">
  <title>Project Links</title>
  <h1 style="text-align: center;">Project Links</h1>
  <div class="plan">
    <h3>Planning</h3>
    <div class="plan-board">
      <a href="https://trello.com/b/lIRmkrlg/reviewdb">Trello</a>
      <img src="../../../../../picture/Trello_logo.png" alt="error" width="100" height="25">
    </div>
  </div>
  <div class="slides">
    <h3>Timeboxes</h3>
    <div class="list">
      <li>
        <a href="https://docs.google.com/presentation/d/1B_M_BIVST-E-f7vh8CHbg-Mifq_xvjJQFsgzIHcgvFo/edit?usp=sharing">Slide Set 1</a>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1d0sDiXct_qjpYvPe6JmUro3MeiQ0ZVEh6g0mFjIFS0A/edit?usp=sharing">Slide Set 2</a>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1w38Imgn3Q2__E1iutNSijEfsTRGVOnhVY1C95W8peWo/edit?usp=sharing">Slide Set 3</a>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1PjqdiKDTIEiBQ_ADGaA-lIBs6lDqMs_mfhiX-lMWWMQ/edit?usp=sharing">Slide Set 4</a>
      </li>
      <li>
        Slide Set 5 to be announced
      </li>
    </div>
  </div>
  <div class="communication">
    <h3>Communication</h3>
    <div class="comm-board">
      <a href="https://discord.com/channels/1196933575820447836/1196933576873222186">Discord</a>
      <img src="../../../../../picture/discord_logo.png" alt="error">
    </div>
  </div>
</div>
<br>