<div class="backgroundImage">
  <div class="home">
    <div class="bottom-margin">
      <h1>Welcome to ReviewDB!</h1>
      <p>ReviewDB is a way to find great movies by searching for similar reviews. By searching this way, the creators
        hope to help users find new movies that they really connect to, and more closely match their expectations than 
        a traditional search. Use the search bar below to find a movie for you or read on to learn more about what we 
        have on our site.
      </p>
    </div>
    <div class="content">
      <form [formGroup]="homeForm" (submit)="getMovieList()" class="d-flex flex-column align-items-center">
        <div class="form-group bottom-margin">
          <label for="descriptionInput">Movie Description</label>
          <input 
            type="string" 
            formControlName="description" 
            class="form-control description-input" 
            id="descriptionInput" 
            aria-describedby="descriptionHelp" 
            placeholder="Example Description: A funny animated dog movie with funny actors"
          >
          <small id="descriptionHelp" class="form-text text-muted bottom-margin" style="color: whiteSmoke !important;">
            This is used to generate recommended movies based off movie reviews.
          </small>
        </div>
        
        <div class="form-group bottom-margin">
          <label for="descriptionInput">Genre</label>
          <select class = "selectpicker form-control" formControlName="filterGenre" id="filterGenre" name="filterGenre">
            <option value=""></option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Comedy">Comedy</option>
            <option value="Crime">Crime</option>
            <option value="Documentary">Documentary</option>
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="History">History</option>
            <option value="Horror">Horror</option>
            <option value="Music">Music</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="TV Movie">TV Movie</option>
            <option value="Thriller">Thriller</option>
            <option value="War">War</option>
            <option value="Western">Western</option>
          </select>
        </div>

        <div class="form-check bottom-margin">
          <input 
            type="checkbox" 
            formControlName="isKidsMovie" 
            class="form-check-input" 
            id="isKidMovie"
          >
          <label class="form-check-label" for="isKidMovie">Kids Movies Only</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div style="background-color:rgb(34, 0, 35); background-size: 100% 100%;">
  <div class="container" >
    <div class="row">
      <div *ngFor="let movie of movieList" class="col-md-3 mb-4" (click)="showMoviePopup(movie)">
        <div class="card movie-card" style="width: 20rem; height: 40rem;">
          <img class="card-img-top" [src]="movie.posterPath" alt="Movie Poster">
          <div class="card-body">
            <div class="d-flex align-items-center" style="margin-bottom: 5px">
              <app-movie-score-field [score]="movie.score"></app-movie-score-field>
              <div style="margin-left: 10px; margin-bottom: -40px;" title="The rating for the movie!">
                <app-star-icon></app-star-icon>
                <p style="display: inline-block; margin-left: 5px;">{{ movie.voteAverageRounded }}/10</p>
              </div>
              <div *ngIf="!movie.forAdults" style="margin-bottom: -40px">
                <app-for-kids-icon></app-for-kids-icon>
              </div>
            </div>
            <h5 class="card-title">{{ movie.title }} ({{ movie.releaseYear }})</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-movie-information-popup *ngIf="selectedMovie" [movie]="selectedMovie" (close)="closePopup()"></app-movie-information-popup>





