<div>
  <h1>Welcome to ReviewDB!</h1>
  <p>ReviewDB is a way to find great movies by searching for similar reviews. By searching this way, the creators
    hope to help users find new movies that they really connect to, and more closely match their expectations than 
    a traditional search. Use the search bar below to find a movie for you or read on to learn more about what we 
    have on our site.
  </p>
  <input type="text" placeholder="NOT YET INITIATED">
  <h3>About Us</h3>
  <p>Learn about the team behind this project.</p>
  <h3>Contact us</h3>
  <p>Reach our with questions or comments.</p>
  <h3>Example Searches</h3>
  <p>Learn more about how to utilize the tool and reah its maximum potential.</p>
  <h3>How it Works</h3>
  <p>Learn about how this tool was developed and what happens behind the scenes.</p>

</div>